In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('./data/specialties.csv', header=None, names=['year','specialty','specialty_name','num_students'])

In [258]:
df.fillna(method='ffill', inplace = True)

In [259]:
df.year = df.year.astype(int)

In [260]:
df['specialty'] = df.specialty.astype(str)

In [261]:
df['specialty_name'] = df['specialty'].str.rsplit(n=1, expand=True)

In [262]:
df['num_students'] = df['specialty'].str.split().str[-1]

In [263]:
df['num_students'] = df['num_students'].astype(int)

In [264]:
df.set_index(df.year, drop=True, inplace=True)
df.drop('year', axis = 1, inplace=True)
df.drop('specialty', axis = 1, inplace=True)

In [265]:
df.columns = ['specialty','num_students']

In [266]:
df.head()

                 specialty  num_students
year
2019        Anesthesiology             4
2019       Child Neurology             1
2019           Dermatology             2
2019  Diagnostic Radiology             5
2019    Emergency Medicine            12

In [269]:
df.to_csv(path_or_buf='./specialties_cleaned.csv')